html, body{
    height: 100%;
}
.container{
    min-height: 100%;
    position: relative;
    padding-bottom: 120px;
}
.container footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#search-row{
    margin-top: 40px;
}
.ya-share2{
    margin-top: 25px;
}
.ya-share2__list_direction_horizontal > .ya-share2__item:last-child{
    margin: 0;
}
.category-list img{
    background-color: white;
}
.root-category{
    font-weight: bold;
}
.color-preview{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid;
}
.color-selector .color-preview{
    height: 15px;
    width: 15px;
}
.color-selector label{
    margin-right: 5px;
}
.nivo-controlNav, .nivo-directionNav{
    display: none;
}