#search-row{
    margin-top: 40px;
}
.ya-share2{
    margin-top: 25px;
}
.ya-share2__list_direction_horizontal > .ya-share2__item:last-child{
    margin: 0;
}
.category-list img{
    background-color: white;
}