html, body{
    height: 100%;
}
.container{
    min-height: 100%;
    position: relative;
    padding-bottom: 140px;
}
.container footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#search-row{
    margin-top: 40px;
}
.ya-share2{
    margin-top: 25px;
}
.ya-share2__list_direction_horizontal > .ya-share2__item:last-child{
    margin: 0;
}
.category-list img{
    background-color: white;
}
.category-list a{
    white-space: normal;
    height: 53px;
}
.thumbnail .caption a{
    display: inline-block;
    height: 63px;
    overflow: hidden;
}
.root-category{
    font-weight: bold;
}
.color-preview{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid;
}
.color-selector .color-preview{
    height: 15px;
    width: 15px;
}
.color-selector label{
    margin-right: 5px;
}
.nivo-controlNav, .nivo-directionNav{
    display: none;
}
.shipping-method, .payment-method{
    margin-bottom: 30px;
}
legend{
    padding-left: 5px;
}
input[type=radio]{
    margin-right: 15px;
}
.shipping-method .description,
.payment-method .description{
    padding-left: 5px;
    padding-right: 5px;
}
.wa-form .wa-name{
    margin-top: 10px;
    font-weight: bold;
}
.wa-form .wa-value .field {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
.wa-form .wa-value input[type=text], .wa-form .wa-value select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.checkout .plugin input[type=submit]{
    margin-bottom: 15px;
    color: #fff;
    background-color: #286090;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.carousel-inner{
    padding-top: 10px;
}
.carousel-inner .item{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.slider-up, .slider-down{
    display: inline-block;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.slider-up{
    background: url('../img/up.png');
}
.slider-down{
    background: url('../img/down.png');
}
.catalog-item{
    margin-bottom: 20px;
}
.brands{
    margin-bottom: 20px;
}
.dropdown-content{
    width: auto;
}